@import url('https://fonts.cdnfonts.com/css/chinese-rocks');

body{
    font-family: 'Chinese Rocks Rg', sans-serif;
}

#menu{
    font-size: 50px;
    text-align: center;
    a{
        padding: 40px;
    }
}

#titulo-jogo{
    text-align: center;
}

#disponibilidade{
    text-align: center;
    background-color: rgba(255,255,255, 0.5);
    width: 50%;
    margin: 0 auto;
    border-radius: 3%;
}

#xbox{
    width: 100px;
    height: 100px;
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

#playstation{
    width: 100px;
    height: 100px;
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

#steam{
    width: 100px;
    height: 100px;
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

#formulario-att{
    position: relative; top: 50%; left: 10%; transform: translate(-50%, -50%); 
    display: flex; align-items: center; justify-content: center; 
    display: grid; place-items: center; 
}